<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Presentation</div>
            <p class="paragraph-text justify-text">
                je me nomme Théophile Alsac, je suis passionné d'informatique et de programmation car ceci est pour moi le meilleur moyen de réaliser mes idées.
            </p>
            <p class="paragraph-text justify-text">
                Comme dit précédemment je suis passionné par la programmation, alors pourquoi ce BTS ? Pour réaliser mes projets en programmation j'ai besoin de connaissances en réseau pour pouvoir être complètement autonome dans mes projets. j'ai donc choisi cette filière pour acquérir un maximum de connaissances.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
