
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills Systheme informtion</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        I'm a web engineer fluent in modern web development. I have a serious passion for engineering solutions using the internet. InfoSec guy, blue team. Let's build a beautiful, speedy and safe web together.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Windows</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="50%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Server</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Debian</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Apple</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="50%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>html</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="25%">
                            <div class="skillbar-title" style="background: #2980b9"><span>javaScript</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9"><span>InfoSec</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                    </div>

                </div>
            </section>






                    <section class="section skills" id="skills">
                        <div>
                    <div class="section-heading" id="skills-text">Skills Developement</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        I'm a web engineer fluent in modern web development. I have a serious passion for engineering solutions using the internet. InfoSec guy, blue team. Let's build a beautiful, speedy and safe web together.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>SwiftUI</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Phython</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>php</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        
                        <div class="skillbar clearfix " data-percent="50%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>CSS</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="50%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>html</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="25%">
                            <div class="skillbar-title" style="background: #2980b9"><span>javaScript</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </section>


                </div>
            </div>
</div>