<!DOCTYPE html>
<html>
<head>
	<title>Ma page avec un menu</title>
	<style>
		/* Style pour le menu */
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li a:hover {
			background-color: #111;
		}
	</style>
</head>
<body>
	<!-- Le menu -->
	<ul>
		<li><a href="PresentationEntreprises.html">Accueil</a></li>
		<li><a href="#nouvelles">Nouvelles</a></li>
		<li><a href="#services">Services</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
</body>
</html>
